<% provide(:title, "Help") %>
  <h1> Help </h1>
    <p> 
    	Get help on Ruby on Rails Tutorial at 
    	<a href ="http://www.railstutoria.org/#help"> Rails tutorial help section
    	</a>
    </p>

